hooker:

    pre_commit:
        abort_on_fail: false

        hooks:
            - Ob\Hooker\Hook\PreCommit\Lint
            - Ob\Hooker\Hook\PreCommit\CodeSniffer
            - Ob\Hooker\Hook\PreCommit\MessDetector

        phpmd:
            # Available rulesets: cleancode, codesize, controversial, design, naming, unusedcode.
            rulesets:
                - cleancode
                - codesize
                - controversial
                - design
                - naming
                - unusedcode

        phpcs:
            # Available standards: MySource, PEAR, PHPCS, PSR1, PSR2, Squiz, Zend.
            standard: PSR2
